/* body{
    margin:0;
} */

.flexbox{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#5e9898;
}

.box{
    width:150px;
    height:150px;
    background:rgb(5, 0, 46);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:black;
    padding:15px;
    flex-wrap:wrap;
}

.logo{
    color:white;
    font-size:24px;
}

ul{
    display:flex;
    gap:20px;
    list-style:none;
    flex-wrap:wrap;
}

a{
    color:white;
    text-decoration:none;
}

a:hover{
    color:yellow;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.card{
    width:180px;
    border:1px solid black;
    padding:15px;
    background:lightblue;
    text-align:center;
}

.plans{
    display:flex;
    align-items:stretch;
    gap:20px;
}

.plan{
    flex:1;
    border:1px solid black;
    padding:20px;
    background:lightgreen;
}

.layout{
    display:flex;
    min-height:100vh;
}

.sidebar{
    flex:0 0 250px;
    background:rgb(255, 0, 0);
    padding:20px;
    color:white;
}

.main{
    flex:1;
    background:rgb(255, 255, 0);
    padding:20px;
}